@using CQRSDemo.Models
@model CQRSDemo.Presentation.Models.SearchResultViewModel<ProductModel>


<h1>@ViewBag.Heading</h1>
<style>
    table > tbody tr td:nth-child(5) {
        max-width: 100px;
        word-break: break-word;
    }

    table > tbody tr td:nth-child(4) {
        max-width: 200px;
        word-break: break-word;
    }

    table > tbody tr td:nth-child(2) {
        max-width: 350px;
        word-break: break-word;
    }

    .loader {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        opacity: 0.3;
        display: none;
    }

        .loader img {
            top: 50%;
            left: 50%;
            position: absolute;
        }
</style>
<div class="form-group">
    <input type="text" placeholder="Search product" class="form-control" style="margin-bottom:10px;" id="textSearch" />
    <button class="btn btn-primary" onclick="searchProduct()">Search</button>
    <a class="btn btn-primary" href="/Products/Insert" style="margin-left:10px">Insert</a>
    <input type="hidden" value="@ViewBag.IsSql" id="isSql" />
</div>
<div class="loader">
    <img src="~/Content/loader.gif" />
</div>
<div id="result">
    @Html.Partial("~/Views/Products/_Search.cshtml", Model)
</div>
<script>
    function searchProduct() {
        var isSql = $('#isSql').val();
        var url = isSql ? '/Products/SqlSearch' : '/Products/Search';
        var text = $('#textSearch').val();
        url = url + '?text=' + text;
        $('.loader').show();
        $.ajax({
            url: url,
            success: function (response) {
                $('#result *').remove();
                $('#result').append(response);
                $('.loader').hide();
            }
        });
    }

    function deleteProduct(id) {
        var confirmPrm = confirm("Are you sure you want to delete this");
        if (confirmPrm) {
            var url = '/Products/Delete?id=' + id;
            $.ajax({
                url: url,
                success: function (response) {
                    window.location.reload();
                }
            });
        }
    }
</script>